@model FMLeikmenn.Models.GoalKeeper

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GoalKeeper</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamPlayerContractedTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamPlayerContractedTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AerialAbility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AerialAbility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommanOfArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommanOfArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Communication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Communication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eccentricity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eccentricity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstTouch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstTouch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreeKickTaking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreeKickTaking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Handling)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Handling)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kicking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kicking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OneOnOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OneOnOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeanaltyTacking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeanaltyTacking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reflexes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reflexes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RushingOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RushingOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TendencyToPunch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TendencyToPunch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Throwing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Throwing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aggression)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aggression)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anticipation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anticipation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bravery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bravery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Composure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Composure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Concentration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concentration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Decisions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Decisions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Determination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Determination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flair)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flair)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Leadership)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Leadership)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OffTheBall)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffTheBall)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Positioning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Positioning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teamwork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teamwork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acceleration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acceleration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JumpingReach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JumpingReach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NaturalFitnesss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NaturalFitnesss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stamina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stamina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Technique)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Technique)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutfieldRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutfieldRating)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
